@charset "UTF-8";
/*variables */
/*color principal body */
/*color del nav */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6be6a;
}

header {
  background-color: #2B2B2B;
  color: #f6be6a;
  padding: 10px 30px;
}
header nav {
  display: flex;
  font-size: 12px;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}
header nav .nav-img {
  width: 100%;
}
header nav .nav-img img {
  width: 40%;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
header nav ul li a {
  width: 100%;
  color: #f6be6a;
  text-decoration: none;
}

/*Carrusel */
.carousel-item img {
  height: 70vh;
  object-fit: cover;
}

/*
    estilos main 
*/
#box-start {
  margin: 10% 15%;
  display: flex;
  flex-direction: column;
  margin: 40px 70px;
  justify-content: center;
  gap: 15px;
  color: #2B2B2B;
}
#box-start .textos-main p span {
  display: block;
}
#box-start .textos-main h2 {
  font-family: "Slackside One", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 55px;
  margin-bottom: 25px;
  margin-top: 0px;
}
#box-start .textos-main h3 {
  font-family: "Slackside One", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
#box-start .textos-main button {
  border-radius: 50px;
  background-color: #2B2B2B;
  width: 100px;
  padding: 5px;
}
#box-start .img-main {
  width: 100%;
}
#box-start .img-main img {
  width: 100%;
}

/*Productos seccion */
.section-product {
  background-color: white;
  padding: 30px 0px;
}
.section-product .titulo-section {
  padding-left: 15px;
}
.section-product .box-product {
  margin: 10% 22%;
}
.section-product .box-product div {
  margin: 15px;
  text-align: center;
  font-size: 20px;
}

/*Fondo Madera */
.fondo-madera {
  background-image: url("../imagenes/fondo-madera+.jpg");
  object-fit: cover;
}
.fondo-madera .box-carta {
  display: flex;
  color: #f6be6a;
  width: 90%;
  gap: 30px;
  padding: 30px 10px;
}
.fondo-madera .imagenes-local {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  padding-left: 4rem;
}
.fondo-madera .imagenes-local .img-local, .fondo-madera .imagenes-local .sello-capo {
  width: 80%;
}
.fondo-madera .imagenes-local .img-local img, .fondo-madera .imagenes-local .sello-capo img {
  width: 100%;
}

/*Experiencia unica */
.conteiner-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  gap: 50px;
  padding: 20px 0px;
}
.conteiner-grid #contenido-info {
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 30px;
  padding: 0px 5px;
}
.conteiner-grid .items-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}
.conteiner-grid .items-box .item-1, .conteiner-grid .items-box .item-2, .conteiner-grid .items-box .item-3, .conteiner-grid .items-box .item-4, .conteiner-grid .items-box .item-5, .conteiner-grid .items-box .item-6 {
  width: 70%;
}
.conteiner-grid .items-box .item-1 div img, .conteiner-grid .items-box .item-2 div img, .conteiner-grid .items-box .item-3 div img, .conteiner-grid .items-box .item-4 div img, .conteiner-grid .items-box .item-5 div img, .conteiner-grid .items-box .item-6 div img {
  width: 40%;
}

/*
.item-1 div img , .item-2 div img , .item-3 div img , .item-4 div img , .item-5 div img , .item-6 div img {
    width: 40%;
}*/
/*FOOTER*/
footer {
  background-color: #2B2B2B;
  width: 100%;
}
footer .separator-footer {
  width: 100%;
  padding: 10px 0px;
}
footer .separator-footer img {
  width: 100%;
}
footer .cont-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  row-gap: 30px;
  padding: 10px 10px;
  column-gap: 30px;
  row-gap: 30px;
  font-size: 18px;
  color: black;
}
footer .cont-footer div h4 {
  font-size: 23px;
  margin-bottom: 10px;
}
footer .cont-footer div ul li {
  list-style: none;
  margin-bottom: 5px;
}
footer .cont-footer .foot-info ul li a {
  text-decoration: none;
  color: black;
}

/*MEDIA QUERY */
@media screen and (min-width: 600px) {
  header nav .nav-img img {
    width: 30%;
  }
  header nav .ul-nav {
    width: 100%;
  }
  header nav .ul-nav ul {
    width: 100%;
  }
  #box-start {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 20px;
  }
  /*seccion producto*/
  .section-product {
    background-color: white;
    padding: 30px 5px;
  }
  .section-product .box-product {
    display: flex;
    width: 90%;
    margin-left: 8%;
    justify-content: center;
  }
  .section-product .box-product div a img {
    width: 100%;
  }
  /*seccion merienda */
  .fondo-madera {
    display: flex;
  }
  .fondo-madera .box-carta {
    width: 70%;
    height: 70%;
  }
  .fondo-madera .box-carta .conteiner-text {
    height: 100%;
  }
  .fondo-madera .sello-capo {
    margin-left: -70%;
    width: 70%;
  }
  /*experiencia unica*/
  .conteiner-grid {
    align-items: flex-start;
  }
  .conteiner-grid .items-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    margin-left: 10%;
  }
  /* FOOTER*/
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer div ul a {
    text-decoration: none;
    color: black;
  }
}
@media screen and (min-width: 1024px) {
  header .nav-img {
    width: 50%;
  }
  header .nav-img img {
    width: 7%;
  }
  header nav ul {
    width: 100%;
    font-size: 1rem;
  }
  /*Main*/
  #box-start {
    border: 3px ridge #2B2B2B;
    margin: 100px 0px 100px 100px;
    padding-top: 100px;
  }
  .img-main {
    width: 40%;
  }
  .img-main img {
    width: 100%;
  }
  /*productos seccion*/
  .box-product {
    gap: 70px;
  }
  .titulo-section {
    margin-left: 50px;
  }
  .titulo-section img {
    width: 8%;
  }
  .titulo-section div h2 {
    font-size: 50px;
  }
  /*Fondo madera */
  .box-carta {
    padding: 200px 0px 0px 40px;
    font-size: 20px;
  }
  .box-carta div h2 {
    font-size: 50px;
  }
  .box-carta div h3 {
    width: 30px;
  }
  .imagenes-local {
    width: 60%;
    padding: 50px 0px 50px 30px;
  }
  .sello-capo {
    margin: -200px 0px 0px -500px;
  }
  /*Footer*/
  .cont-footer {
    width: 100%;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .cont-footer h4 {
    font-size: 20px;
    padding-bottom: 10px;
  }
}
/* CSS QUIENES SOMOS  */
.box-img {
  background-image: url(../imagenes/bonifati-pueblo.jpeg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0px;
  height: 40vh;
  display: flex;
  align-items: center;
}
.box-img .span-raices {
  display: block;
}
.box-img h2 {
  text-align: start;
  margin-left: 5%;
  color: white;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 3rem;
}

/*Main viaje a italia */
.box-stacion {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  background-color: #2B2B2B;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 50px;
}
.box-stacion .img-train {
  width: 130%;
  margin: 30px 100px 20px -300px;
}
.box-stacion .img-train img {
  width: 100%;
}
.box-stacion .box-text-train {
  padding: 10px 10px;
  font-size: 20px;
}
.box-stacion .box-text-train h3 {
  font-size: 40px;
  margin-bottom: 20px;
}

/*Apertura todo el año */
.open-year {
  background-color: white;
  color: #2B2B2B;
  font-size: 20px;
  text-align: center;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  padding: 70px 0px;
  margin: 0px 0px;
}
.open-year .box-img-frente {
  width: 96%;
  height: 100%;
  background-image: url(../imagenes/local-capo-frente.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 30px 30px;
}
.open-year .box-text-local {
  padding: 10px 20px;
}
.open-year .box-text-local div:first-child {
  margin-bottom: 20px;
}
.open-year .box-text-local h2 {
  margin-bottom: 1rem;
}

/*Meriendas y Tardeo */
.meriendas-sect {
  background-color: white;
  display: flex;
  flex-direction: column-reverse;
}
.meriendas-sect .carrusel-img {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 25%);
  height: 100vh;
  row-gap: 2rem;
  width: 100%;
  padding: 10px 10px 200px 10px;
}
.meriendas-sect .carrusel-img div {
  width: 100%;
}
.meriendas-sect .carrusel-img div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.meriendas-sect .carrusel-img .sello-marron {
  width: 60% !important;
  justify-self: center;
  margin-left: 200px;
}
.meriendas-sect .carrusel-img .sello-marron img {
  width: 40% !important;
}
.meriendas-sect .box-text-merienda {
  padding: 0px 1rem;
  font-size: 18px;
  margin-bottom: 20px;
}
.meriendas-sect .box-text-merienda h2 {
  margin-bottom: 10px;
}
.meriendas-sect .box-text-merienda p {
  margin-bottom: 1rem;
}

/*MEDIA  QUERY  QUIENES SOMOS */
@media screen and (min-width: 600px) {
  .nav-img {
    width: 30%;
  }
}
@media screen and (min-width: 1024px) {
  /*NAV*/
  header nav .nav-img {
    width: 70%;
    margin-left: 30px;
  }
  header nav .nav-img img {
    width: 10%;
  }
  header nav .ul-nav {
    width: 35%;
  }
  /*section Honor raices */
  .box-img {
    height: 80vh;
  }
  .box-img h2 {
    font-size: 50px;
  }
  .box-img span {
    font-size: 60px;
    margin-left: 30px;
  }
  /*VIAJE A ITALIA */
  .box-stacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
  }
  .box-stacion .box-train {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
  }
  .box-stacion .box-train .img-train {
    width: 100%;
    margin: 10px 400px 0px 0px;
  }
  .box-stacion .box-train .img-train img {
    width: 100%;
  }
  .box-stacion .box-train .box-text-train {
    width: 50%;
  }
  .box-stacion .box-train .box-text-train p {
    margin-bottom: 30px;
  }
  .box-stacion .box-train .box-text-train h3 {
    font-size: 55px;
  }
  .box-stacion .img-estacion {
    width: 40%;
  }
  /*Abierto todo el año */
  .open-year {
    flex-direction: row;
  }
  .open-year .box-text-local {
    font-size: 20px;
    width: 70%;
    margin: 100px;
  }
  .open-year .box-text-local h2 {
    font-size: 40px;
  }
  /*MERIENDAS */
  .meriendas-sect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 100px 30px 30px 0px;
  }
  .meriendas-sect .box-text-merienda {
    margin: 90px 40px 10px 20px;
    padding: 0px 30px;
  }
  .meriendas-sect .box-text-merienda h2 {
    font-size: 3rem;
    color: #2B2B2B;
    margin-bottom: 30px;
  }
  .meriendas-sect .carrusel-img {
    width: 100%;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 40%);
    column-gap: 30px;
    row-gap: 15px;
    grid-template-areas: "kmix jungly" "kmix oreo" "sello . ";
    object-fit: cover;
  }
  .meriendas-sect .carrusel-img .kmix-img {
    grid-area: kmix;
    width: 100%;
    height: 100%;
  }
  .meriendas-sect .carrusel-img .kmix-img img {
    width: 100%;
    height: 60vh;
  }
  .meriendas-sect .carrusel-img .jungly-img {
    grid-area: jungly;
  }
  .meriendas-sect .carrusel-img .oreo-img {
    grid-area: oreo;
  }
  .meriendas-sect .carrusel-img .sello-marron {
    grid-area: sello;
    width: 40% !important;
    height: 65%;
    margin: -90px 300px 60px 0px;
  }
  .meriendas-sect .carrusel-img .sello-marron img {
    width: 100% !important;
  }
  /*FOOTER*/
  footer .cont-footer {
    flex-direction: row;
    padding-bottom: 40px;
    font-size: 20px;
    color: white;
  }
  footer .cont-footer .foot-info ul li a {
    color: white;
  }
  /*carrusel*/
  .carousel-item img {
    height: 80vh;
    object-fit: cover;
  }
}
body {
  background-color: white;
}

.caja-titulo {
  background-color: #7fba9f;
  height: 300px;
}
.caja-titulo div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.caja-titulo div h3 {
  font-size: 30px;
  margin-top: 70px;
  margin-bottom: 0px;
}
.caja-titulo div h2 {
  font-size: 40px;
  margin-top: 15px;
}

.separador-auto {
  width: 100%;
  margin: 20px 0px;
}
.separador-auto img {
  width: 100%;
}

.main-pedidos {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.main-pedidos .cajas-pedidos {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  align-items: center;
  text-align: center;
  font-size: 20px;
  color: #fdfd96;
  /*
   .tarrinas-img:hover{
       will-change: transform;
       transform: scale(1.1) translateY(6%);

   }*/
}
.main-pedidos .cajas-pedidos .contenedor-tarrina {
  position: relative;
}
.main-pedidos .cajas-pedidos div {
  width: 100%;
}
.main-pedidos .cajas-pedidos .tarrinas-img {
  background-image: url(../../imagenes/pedidos/Tarrinas\ \(1\).jpg);
  object-fit: cover;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  background-size: cover;
  background-position: 50%;
  position: relative;
  filter: brightness(0.8);
}
.main-pedidos .cajas-pedidos .tarrinas-img h4 {
  filter: brightness(2) !important;
}
.main-pedidos .cajas-pedidos .copas-img {
  background-image: url(../../imagenes/pedidos/Copa-al-gusto.jpg);
  object-fit: cover;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  background-size: cover;
  background-position: 50%;
}

/*BATIDOS Y SMOOTIES */
.contenedor-batidos {
  margin: 50px 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.contenedor-batidos div h2 {
  font-size: 50px;
}

.batidos-smooties {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 0px;
  row-gap: 40px;
  text-align: start;
}
.batidos-smooties .batido-item {
  width: 90%;
  display: flex;
  flex-direction: column;
}
.batidos-smooties .batido-item div a img {
  width: 100%;
}

.tartas-postres {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.tartas-postres .postre-item {
  width: 100%;
}
.tartas-postres .postre-item div h3 {
  font-size: 25px;
}
.tartas-postres .postre-item div img {
  width: 80%;
}

/*PRODUCTOS */
.productos-item {
  margin: 100px 0px;
  display: flex;
  justify-content: space-evenly;
}
.productos-item .img-producto {
  width: 40%;
}
.productos-item .img-producto img {
  width: 100%;
  object-fit: cover;
}

/*CONTACTO*/
.contacto-seccion {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

/*# sourceMappingURL=estilos.css.map */
