//IMPORT
/*variables */
@import "./variables/variables";
/* CSS QUIENES SOMOS  */
@import "../scss/paginas/quienesomos";
    
//PEDIDOS
@import "./paginas/pedidos";

//Contacto
@import "./paginas/contacto";

//AYUDA
@import "./paginas/sabores";
//Tarrinas
@import "./paginas/tarrinas.scss";


//estilos generales 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $color-principal;
}
//estilos de index 

header{
    background-color: $color-nav;
    color: $color-principal;
    
                .navbar-collapse{
                    width: 60% !important;
                }
                .navbar-nav{
                    width: 50% !important;
                    color: $color-principal !important ;
                    --bs-nav-link-color: none !important;
                }
                .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
                    color: $color-principal !important; 
                }
                .container-fluid{
                    display: flex  ;
                    justify-content: space-between !important;
                            #contenedor-compra{
                                width: 10%;
                                padding-left: 10px;
                                margin-right: 0px;
                                margin-left: 0px;
                                position:static;
                                        .num-carrito{
                                            color: $color-principal;
                                            position: absolute;
                                            top: 5px;
                                            align-items: center;
                                            text-align: center;
                                            right: 50px;
                                            width: 30px;
                                            height: 27px;
                                            border-radius: 50%;
                                            background-color: $color-precio;
                                        }
                                        img{
                                            width: 50%;
                                        }
                                        .caja-carrito{
                                            height: 100%;
                                            width: 100%;
                                        }
                                    
                            }
                        
                }
                .navbar-toggler{
                    background-color: white !important;
                }
                
                nav{
                        
                            .logo-boton {
                                display: flex;
                                width: 80%;
                                align-items: center;
                                justify-content: space-between;
                                margin: auto;
                                margin-left: 50px;
                            }
                            ul.navbar-nav {
                                width: 100% !important;
                            
                            }

                }
}

/*Carrusel */
.carousel-item img {
    height: 35vh;
    object-fit: cover;
}

/*
    estilos main 
*/

#box-start{
    margin: 10% 15%;
    display: flex;
    flex-direction: column;
    margin: 40px 70px;
    justify-content: center;
    gap: 15px;
    color:$color-nav;
        .textos-main {
            p{
                span{
                    display: block;
                }
            }
        h2{
            font-family: "Slackside One", cursive;
            font-weight: 400;
            font-style: normal;
            font-size: 55px;
            margin-bottom: 25px;
            margin-top: 0px;
        }
        h3{
            font-family: "Slackside One", cursive;
            font-weight: 400;
            font-style: normal;
            font-size: 35px;
            margin-bottom: 0px;
            padding-bottom: 0px;
        }
        div{
            width: 100%;
            margin: auto;
                button {
                    background-color: $color-fondo-index;
                    @include botones;
                        a{
                            color: $color-nav;
                            text-decoration: none;
                        }
                        a:hover{
                            text-decoration: underline;
                        }
                }
        }
        }
    .img-main{
        width: 100%;
        img{
            width: 100%;
        }
    }
}

//separador
.separador-piña{
    width: 100%;
    margin: 30px 0px;
        img{
            width: 100%;
        }
}

/*Productos seccion */
.seccion-producto{
    background-color: white;
    padding: 30px 0px;
    margin: 50px 0px;
        .titulo-section{
            padding-left: 15px;
            display: flex;
            margin-bottom: 100px !important;
                img{
                    width: 20%;
                    height: 20%;
                }
                div{
                    width: 80%;
                    padding: 10px;
                    h3{
                        font-size: 20px;
                        color: $color-precio;
                    }
                        h2{
                            font-size: 30px;
                        }
                }
        }
        .box-product{
            margin: auto;
            justify-content: center;
            align-items: center;
                div{
                    margin: 15px;
                    text-align: center;
                    font-size: 20px;
                }
        }
}


/*Fondo Madera */

.fondo-madera{
    background-image:url('../imagenes/fondo-madera+.jpg');
    object-fit: cover;
        .box-carta{
            display: flex;
            color: $color-fondo-index;
            width: 90%;
            gap: 30px;
            padding: 30px 10px;
                .conteiner-text{
                    h3{
                        color: $color-fondo-index;
                    }
                    h2{
                        color: $color-principal !important;
                        font-size: 30px;
                        margin-bottom: 20px;
                    }
                    p{
                        color: $color-principal;
                    }
                    button{
                        background-color: inherit; 
                        @include botones;
                            a{
                                color: $color-principal;
                                @include enlace ;
                            }
                            a:hover {
                                text-decoration: underline;
                            }
                            border: none;
                    }
                    button:hover{
                        border: 1px solid $color-fondo-index;
                    }
                }
        }
        .imagenes-local{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding-left: 4rem;
            .img-local , .sello-capo{
                width: 80%;
            }
            .img-local img , .sello-capo img{
                width: 100%;
            }
        }

}


        /*Experiencia unica */

.contenedor-grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    gap: 50px;
    padding: 20px 0px;
    background-color: $color-fondo-index;
        #contenido-info{
            display: flex;
            gap: 15px;
            align-items: center;
            margin: 30px;
            padding: 0px 5px;
                h3{
                    margin-bottom: 0px;
                    text-align: start;
                }
                h2{
                    margin-top: 0px;
                    font-size: 35px;
                }
        }
        .items-box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 2rem;
                    .items-info{
                        width: 70%;
                        margin: 30px 0px;
                            h3{
                                margin: 30px 0px;
                            }
                            p{
                                font-size: 1rem;
                            }
                        div{
                            img{
                                width: 45%;
                            }
                        }
                    }
        }
}


            /*FOOTER*/

footer{
    background-color: #2B2B2B;
    width: 100%;
    line-height: 30px;
        .separator-footer{
            width: 100%;
            padding: 10px 0px;
                img{
                    width: 100%;
                }
        }
        .cont-footer{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(4,1fr);
            row-gap: 10px;
            padding: 10px 10px;
            column-gap: 30px;
            row-gap: 30px;
            font-size: 18px;
            color: $color-principal;
                .foot-info{
                    margin-top: 30px;
                    h4{
                        font-size: 23px;
                        margin-bottom: 10px;
                        text-align: center;
                        margin: auto;
                        margin-bottom: 10px;
                    }
                    ul{ 
                       margin-right: 20px;
                        li{
                            list-style: none;
                            text-align: center;
                            font-size: 15px;
                                a:hover{
                                    text-decoration: underline;
                                }
                        }
                    }
                }
                
                .foot-info{
                    ul{
                        li{
                            a{
                                text-decoration: none;
                                color: $color-principal;
                            }
                        }
                    }
                   
                }
        }
}

/*MEDIA QUERY */

@media screen and (min-width: 600px){

  header{
    nav{

        .nav-img{
            img{
                width: 30%;
            }
        }
        .ul-nav{
            width: 100%;
            ul{
                width: 100%;
            }
        }
    }
  }

  #box-start{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 20px;
  }
  /*seccion producto*/
  .seccion-producto{
    background-color: white;
    padding: 30px 5px;
        .titulo-section{
            img{
                width: 10%;
            }
            h3{
                font-size: 25px ;
                margin: 0px !important;
            }
            h2{
                font-size: 35px !important;
                margin: 0px;
                padding: 0px;
            }
        }
        .box-product{
            display: flex;
            width: 90%;
            margin-left: 8%;
            justify-content: center;
                div{
                    a{
                        img{
                            width: 100%;
                        }
                    }
                }
        }
  }
 
  /*seccion merienda */
  .fondo-madera{
    display: flex;
        .box-carta{
            width: 50%;
            height: 70%;
                .conteiner-text{
                    height: 100%;
                        h3{
                            color: $color-fondo-index;
                            font-size: 20px;
                        }
                        h2{
                            color: $color-principal ;
                            font-size: 25px;
                        }
                        p{
                            color: $color-principal;
                        }
                }
        }
        .imagenes-local{
            width: 50%;
        }
        .sello-capo{
            margin-left: -70%;
            width: 70%;
          }
  }

  /*experiencia unica*/
  .contenedor-grid{
    align-items: flex-start;
        .items-box{
            justify-content: center;
            margin-left: 10%;

        }
  }
 
 /* FOOTER*/

  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
       
        div{
            ul{
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
  }
}

@media screen and (min-width: 1024px){

 
    header{
        .nav-img{
            width: 50%;
                 img{
                     width: 7%;
            }
        }
        .logo-boton{
            width: 70% !important;
            margin-left: 10% !important;
        }
    } 
    
    header nav ul {
        width: 100%;
        font-size: 14px;
        justify-content: center;
      
    }
    /*Carrusel */
.carousel-item img {
    height: 85vh;
}
    /*Main*/
    #box-start{
        width: 100%;
        justify-content: center;
        padding: 100px;
        margin: 0px !important;
        background-color: $color-fondo-index;
            .textos-main{
                width: 40%;
            }
            .img-main{
                width: 64%;
                    img{
                        width: 100%;
                    }
            }
    }
   
    /*productos seccion*/
    .box-product{
        gap: 70px;
    }
    .titulo-section{
        margin-left: 50px;
            img{
                width: 8%;
            }
            div{
                h2{
                    font-size: 50px;
                }
            }
    }

//seccion nuestros productos 

.seccion-producto{
    .titulo-section{
        margin: 20px 0px 10px 100px !important;
        img{
            width: 8%;
        }
    }
}
    /*Fondo madera */
    .fondo-madera{
        padding: 20px 70px;
        .box-carta{
            padding: 70px 0px 0px 40px;
            font-size: 20px;
                .conteiner-text{
                    h3{
                        font-size: 25px;
                    }
                    h2{
                        font-size: 30px;
                            span{
                                display: block;
                            }
                    }
                }
            div{
                h2{
                    font-size: 50px;
                }
                h3{
                    width: 100%;
                }
            }
        }
    }
   
    .imagenes-local{    
        width: 60%;
        padding: 50px 0px 50px 30px ;
    }
   .sello-capo{
    margin: -200px 0px 0px -500px ;
   }

   //items 
   #contenido-info{
        width: 90%;
        .img-experiencia{
            width: 15%;
                img{
                    width: 70%;
                }
           }
   }
   .items-box{
        display: grid !important;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,1fr);
   }
   /*Footer*/
   footer{
    height: auto !important;
   }
   .cont-footer{
    grid-template-columns: repeat(4,1fr) !important;
    grid-template-rows: auto !important;
    width: 100%;
    justify-content: center;
    justify-content: space-evenly;
    flex-direction: row;
    h4 {
        font-size: 20px;
        padding-bottom: 10px;
       }
   }
  
}

