//Variables 
/*color principal body */
$color-principal:white;
/*color del nav */  
    $color-nav:#2B2B2B;

/*color fonto crema index*/ 
$color-fondo-index: #f6be6a;

/*color pedidos precio y fondo*/
$color-precio:#7fba9f;

/*color complementario precio */
$color-sabores:#fdfd96;